/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #c4b2f9;
  color: #333;
}

header {
  background-color: #c4b2f9;
  color: white;
  padding: 10px 0;
  text-align: center;
}

h1, h2, h3 {
  color: #4c319b;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h2, h3 {
  font-size: 1.8em;
  margin: 15px 0;
}

p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 10px;
  border-left: 5px solid #4c319b;
}

a {
  color: #4c319b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Container Styles */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Button Styles */
button {
  background-color: #4c319b;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
